/* .container{
    background-color: aquamarine;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* this code is for nav elements */
.navbuttons {
  width: max-content;
}
.navbuttons::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.5s;
}
.navbuttons:hover::after {
  width: 100%;
}
/* this is the first introductory part code  */
.heading {
  font-weight: 700;
}
.heading2 {
  font-weight: 400;
}
/* sliders code css  */
.swiper {
  width: 20vw;
  min-height: 400px;
  padding: 50px;
  background-position: center;
  background-size: cover;
  background-color: white;
  box-shadow: 0px 4px 50px 0px #38434940;
  height: max-content;
  min-width: 100px;
  border-radius: 40px;
}
@media (max-width: 700px) {
  .swiper {
    width: 20vw;

 
    padding: 50px;
    background-position: center;
    background-size: cover;
    background-color: white;
    box-shadow: 0px 4px 50px 0px #38434940;
    min-height: 200px;
    min-width: 150px;
    border-radius: 20px;
  }
  .swiper-slide img {
    margin: auto;

    padding: 0px;
    display: flex;
    align-items: center;
    object-fit: cover;
  }
}
.custom-pagination {
  color: #8a93e5 !important;
}
.swiper-pagination-bullet {
  background-color: #8a93e5 !important;
}
.swiper-slide img {
  margin: auto;
  width: 70%;
  padding: 10px;
}
.swiper-slide {
  position: relative;
  overflow-x: hidden;
}
#left {
  min-width: 40px;
}
#right {
  min-width: 50px;
}
.custom-pagination {
  display: flex;
  justify-items: center;
  justify-content: center;
}
select {
  background-color: white; /* Change the background of the dropdown */
  /* Text color */
  font-weight: 400;
}
#dropdown {
  font-weight: 500;
}
select:focus {
  border-color: white; /* Optional: Change border color when focused */
  outline: none;
  font-weight: 500;
}
option {
  outline: none;
  background-color: white;
  border: none;
}
#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin: auto;

  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  min-width: 200px;
  text-align: center;
  border-radius: 10px;

  color: black;
}

.product-card img {
  object-fit: cover;
  height: 250px;
  margin: auto;

  border-radius: 10px;
}
.buytbutton {
  margin-top: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;

  z-index: 10;
  border: 1px solid #75cceb;
  border-radius: 10px;

  background-image: linear-gradient(to right, white, white);
  color: #75cceb;
}
.buytbutton:hover {
  border: 0px solid #75cceb;
  background-image: linear-gradient(to right, #75cceb, #6fb4ff);
  box-shadow: 0 4px 8px #70b8fb73;
  color: white;
}
h3 > span {
  color: #317189;
  font-weight: 700;
}
#paginationbutton {
  margin-top: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;

  z-index: 10;
  border: 1px solid #75cceb;
  border-radius: 15px;

  background-image: linear-gradient(to right, white, white);
  color: #75cceb;
}
#lastsectionnutbutton {
  margin-top: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  background-image: linear-gradient(to right, #75cceb, #6fb4ff);
  cursor: pointer !important;
}
